@import "tailwindcss";
@plugin "tailwindcss-motion";

body, html{
  background-color: black;
  color: white;
}
.pFont{
  font-family: "Bricolage Grotesque", serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}
.sFont{
  font-family: "Space Grotesk", serif;
  font-optical-sizing: auto;
}